:root {
  /* Main Project Colors */
  --Main-Color-Black: rgb(0, 0, 0);
  --Main-Color-White: #fff;
  --Main-Color-Orange-Aerospace: #c44206;
  --Main-Color-Grey-Battleship: #a5a89c;
  --Main-Color-Red-Blood: #690003;
  /* Main Project Colors */
}
.my-button {
  border-radius: 50px;
  width: 200px;
  height: 35px;
  border: none;
  background-color: var(--Main-Color-Grey-Battleship);
  box-shadow: 0px 5px 11px #000000b0;
  color: var(--Main-Color-Black);
}

.my-button2 {
  border: 1px solid #585a5383;
  padding: 4px 35px;
  text-align: center;
  border-radius: 6px;
  width: 200px;
  height: 40px;
}

.holly-coran-text {
  color: var(--Main-Color-Orange-Aerospace);
  font-size: 40px;
}
