:root {
  /* Main Project Colors */
  --Main-Color-Black: rgb(0, 0, 0);
  --Main-Color-White: #fff;
  --Main-Color-Orange-Aerospace: #c44206;
  --Main-Color-Grey-Battleship: #a5a89c;
  --Main-Color-Red-Blood: #690003;
  --Main-Color-Drak-Blue: #213769;
  /* Main Project Colors */
}
.my-button {
  border-radius: 5px;
  width: 200px;
  height: 38px;
  background-color: var(--Main-Color-Grey-Battleship);
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border: 1px solid var(--Main-Color-Black);
  color: var(--Main-Color-white);
  z-index: 1;
}

.my-button2 {
  border: 1px solid var(--Main-Color-Black);
  padding: 4px 35px;
  text-align: center;
  border-radius: 6px;
  width: 200px;
  height: 40px;
}

.holly-coran-text {
  color: var(--Main-Color-Orange-Aerospace);
  font-size: 40px;
}

.line {
  border-color: var(--Main-Color-Grey-Battleship);
  opacity: 0.2;
  filter: brightness(0);
  margin: 50px auto;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 75%;
}

.juz {
  font-family: "QuranFont", QuranFont;
  background-color: var(-)
  color: #cbd6f1;
  display: block;
  margin: 20px 45px;
  font-size: 2rem;
  text-align: center;
}

.hizb {
  font-family: "QuranFont", QuranFont;
  background-color: var(--Main-Color-Drak-Blue);
  color: #cbd6f1;
  display: block;
  margin: 20px 45px;
  font-size: 1rem;
  text-align: center;
}
